GEMINI_API_KEY=your_api_key
FLASK_ENV=development
FLASK_DEBUG=true
ALLOWED_ORGINS=http://localhost:3000,any_other_allowed_origin

# Note: Get your Gemini API key from:
# https://ai.google.dev/gemini-api/docs/api-key