GEMINI_API_KEY=your_api_key
FLASK_ENV=development
FLASK_DEBUG=true
ALLOWED_ORGINS=http://localhost:3000,any_other_allowed_origin
CACHE_DOCUMENTS=True
CACHE_DURATION=100
MONGO_DB_URI=mongodb://localhost:27017
MONGO_DB_NAME=askracha_db

# Note: Get your Gemini API key from:
# https://ai.google.dev/gemini-api/docs/api-key